body,
html {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: rgb(225, 225, 225);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: rgb(0, 143, 254);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  height: 100%;
}

.container {
  margin: 0px auto;
  max-width: 1200px;
  padding: 0 10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: black;
  padding-right: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li {
  padding: 5px 14px;
}

.logo {
  margin-left: 10px;
}

.github-link {
  height: 24px;
  width: auto;
  margin: 16px 16px;
}

input[type=checkbox] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: black;
    right: 0;
    left: 0;
    text-align: center;
    padding-right: 20px;
  }

  input[type=checkbox]:checked~.menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
}

.header-text {
  display: inline-block;
  color: white;
  font-size: x-large;
  padding-top: 20px;
}

.active {
  color: rgb(0, 143, 254);
}

.center-logo {
  display: block;
  margin: 10px auto;
}

.center-text {
  text-align: center;
}

.divider {
  border-bottom: 2px solid black;
}

.docs-container {
  display: flex;
  flex-direction: row;
}

.docs-sidebar {
  flex: 1;
  overflow: auto;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.docs-content {
  flex: 3;
  overflow: auto;
  padding: 0 16px;
}

.docs-sidebar a {
  text-decoration: none;
  color: black;
}

.docs-sidebar ul {
  list-style-type: none;
  padding: 2px 0 2px 0;
}

.docs-sidebar li {
  padding-left: 1em;
  padding: 2px 0 2px 1em;
}

.docs-sidebar-active>a {
  color: rgb(0, 143, 254);
}

@media (max-width: 768px) {
  .docs-container {
    flex-direction: column;
  }
}

.source-link {
  padding-top: 6px;
}

.source-github-logo {
  height: 16px;
  width: auto;
  padding-right: 4px;
}

.button {
  display: inline-flex;
  flex-grow: 0;
  background-color: #181818;
  color: white;
  padding: 5px 10px;
  width: auto;
  text-decoration: none;
  border-radius: 4px;
}

.button:hover {
  background-color: #444;
}